.DS_Store
.idea
.env
.env.testing
.phpunit.result.cache
phpunit.dusk.xml
auth.json

# Ignore all vendor files included by composer and the lock file
# /vendor
# composer.lock
node_modules
.playwright-cli/

/public/vendor
/public/storage
/public/mix-manifest.json

/storage/clockwork
/_ide_helper.php
